body{
	background-color: lightgoldenrodyellow;
}
h1{
		font-size: 30px;
		color: darksalmon;
	}

	h2{
		color: red;
		font-size: 25px;
		font-weight: 500;
	}

	h2{
		color: green;
	}

	.big {font-size: 60px;}

	.uppercase {text-transform: uppercase;}

	.big.uppercase {
		color: navy;
	}

	h1 span{
		color: blueviolet;
	}